@model List<Movie>;
   
   @section menu
   {
        @await Html.PartialAsync("_Menu")
   }

     <h1>Film Listesi</h1>
     <div class="movies" id="movies">
        @foreach(var movie in Model)
        {
            <div class="movie">
                <img src="/images/@movie.ImageUrl" alt="@movie.Title"  width="100" height="120"/>
                <p>@movie.Title</p>
                <p>@movie.Description</p>
                <p>@movie.Director</p>
                <p>
                    <ul>
                        @foreach(var item in movie?.Players)
                         {
                            <li>@item</li>
                         }
                    </ul>
                </p>
            </div>
        }